body{
  font-family: 'Nanum Gothic Coding', monospace;
  margin: 0 0;
  box-sizing: border-box;
}

.fas{
  cursor: pointer;
}

button{
  background-color: #f85f35 !important;
}
p{
  margin-top: 1rem;
}
.company-name, h4{
  color: #f85f35;
}

th{
  text-align: center !important;
}

i {
  cursor: pointer !important;
}

.close-btn {
  position: absolute;
  display: block;
  top: 5%;
  right: 1%;
  font-size: 1rem;
  cursor: pointer;
  opacity: 1;
}